@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root[theme="dark"] {
    --textColor: #ffffff;
    --bgColor: #000000;
    --buttonColor: #48a8e3;
  }
  :root[theme="light"] {
    --textColor: #000000;
    --bgColor: #ffffff;
    --buttonColor: #48a8e3;
  }
}
